.favorites {
    text-align: center;
   
    width: 100%;
    height: 100%;
    font-size: 20px;
  }
  
  .container1 {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    
  }

.bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    
}
  
.container1 .btn1, .btn2 {
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  color: #434242;
  background: #DDDDDD;
  transition: 0.5s;
}
  
.container1 .btn:hover {
  color: white;
  background: linear-gradient(to right bottom, #7de5ed, #7bdeee, #7bd6ed, #7dceeb, #81c6e8);
}


.container2 {
  
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .App {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
  }

  .container1 {
    width: 100%;
    margin-left: 0%;
  }

  .container1 .btn {
    width: 24%;
    height: 32px;
    margin-right: 8px;
    font-size: 14px;
    
  }

  .container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
  
  
  
  